.App {
  text-align: center;

  &-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  &-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  &-title {
    font-size: 1.5em;
  }

  &-intro {
    font-size: large;
  }
}

.back-button {
  color: #000;
  display: block;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

.options-holder {
  line-height: 20px;
  font-size: 12px;
  height: 20px;
  margin: 10px;

  &__select {
    vertical-align: middle;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
