.cards-list__card {
  background: #222;
  display: inline-block;
  width: 300px;
  height: auto;
  margin: 5px;
  padding: 5px;
}

.cards-list__card__title {
  color: #fff;
}

.cards-list__card__image {
  width: 100%;
  height: auto;
}


.card-holder {
  text-align: center;
}

.card {
  background-color: #aaa;
  display: inline-block;
  padding: 5px;
  height: 410px;
  text-align: left;
  overflow: hidden;
  width: 600px;
}

.card__preview, .card__details {
  height: 100%;
  padding: 5px;
  vertical-align: top;
}

.card__preview {
  background: #222;
  float: left;
  width: 280px;
  text-align: center;
}

.card__preview_title {
  text-align: center;
  color: #fff;
}

.card__details {
  background: #333;
  width: auto;
  overflow: hidden;
}

.card__details__tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.card__details__content {
  color: #fff;
  padding: 10px;
}

.tab {
  background: #444;
  display: inline-block;
  padding: 10px;
  margin: 0;
}

.tab--active {
  background: none;
}

.tab__link, .tab__link:visited {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}
